*{
    padding: 0px;
    margin: 0px;
}

.app{
    display: flex;

}

.textarea{
    background-color: rgb(229, 242, 253);
    width: 50%;
    height:100vh;

}

.preview{
    background-color: rgb(195, 205, 210);
    width: 50%;
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
}

#editor{
    width: 100%;
  height: 100vh;
  border: none;
  background-color: rgb(229, 242, 253);
  padding: 15px;
  font-size: 18px;
}